<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>403 | Not Authorized</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="alert alert-danger">
                    <div class="card-body text-center">
                        <h2 class="card-title text-danger">Not Authorized</h2>
                        <p class="card-text">Sorry, you are not authorized to access this page.</p>
                        <a th:href="@{/user/index}" class="btn btn-primary">Go Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>